
.user-input {
  margin: 0 auto;
  border-radius: .5rem;
  width: 15rem;
  font-size: 1rem;
}
#enter-chat {
  margin: 2rem 0;
  border-radius: .5rem;
  width: 10rem;
  background: $color-background;
  color: $color-font-2;
}
#enter-msg {
  margin: 0 1rem;
  // width: 5rem;
}
#input-msg {
  // margin-right: 2rem;
  width: 12rem;

}
